* {
  box-sizing: border-box;
}
body {
  margin: 0px;
  font-family: 'Open sans', sans-serif;
  padding-left: 281px;
}
img {
  max-width: 100%;
  border: none;
}
img a {
  border: none;
}
ul,
li {
  list-style-type: none;
}
nav ul{
  padding: 0px;
}
a {
  color: inherit;
  text-decoration: inherit;
}
a:visited {
  color: inherit;
  text-decoration: inherit;
}

h3{
  font-size: 1.5em;
  color: #333;
}

input{
  outline: none;
}
.menu {
  width: 281px;
  background-color: #363636;
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  box-shadow: 5px 5px rgba(121,121,121,0.5);
}
.logo {
  /*width: 100%;*/
  padding-top: 4.5%;
  padding-left: 12%;
  padding-right: 12%;
  padding-bottom: 3.5%;
  margin-top: 3.5%;
  margin-bottom: 3.5%;
}
.title{
  color: #fff;
  font-weight: bolder;
  font-size: 1.9em;
}
.cotitle{
  color: #00a74e;
  font-size: 1.9em;
  font-weight: bold;
}
.subtitle{
  color: #00a74e;
  font-variant: small-caps;
  font-weight: bold;
  font-size: 0.92em;
  line-height: 0px;
  margin: 0px;
  padding: 0px;

}
.search {
  /*width: 100%;*/
  height: 44.4px;
  padding-left: 12%;
  margin-top: 29.63px;
  margin-bottom: 36px;
}
.searchBar {
  width: 70%;
  background-color: #4a4a4a;
  border-radius: 1%;
  padding: 3%;
  font-size: 1em;
  color: #888;
  float: left;
  border: none;
 }

 .searchButton {
  width: 14.51%;
  background-color: #4a4a4a;
  border-radius: 1%;
  padding: 3%;
  font-size: 1em;
  text-align: right;
  color: #888;
  border: none;
}

.tab {
  /*width: 100%;*/
  padding-right: 7.74%;
  padding-top: 6%;
  padding-bottom: 6%;
  padding-left: 12%;
  font-weight: bold;
  color: #00a74e;
}

.current{
  background-color: #00a74e;
  color: #fff;
}
.main {
  overflow: hidden;
}
.day{
  overflow: hidden;
}
.dayHeader {
  background-color: #363636;
  text-align: center;
  color: #fff;
  line-height: 1.5em;
}
.navButton {
  overflow: hidden;
  background-color: #00a74e;
  color: #fff;
  width: 24px;
}
.prev {
  float: left;
}
.next {
  float: right;
}
.column {
  width: 50%;
  float: left;
}
.links {
  padding-right: 2.6%;
  padding-left: 2.6%;
  
}

.link{
  /*width: 100%;*/
  overflow: hidden;
  border-bottom: 1px solid #dfdfdf;
  padding-top: 3.5%;
  padding-bottom: 3.5%;
}

.link span {
  font-size: 1em;
  color: #00a74e;
  font-weight: bold;

}
.date {
  font-size: 0.823em;
  color: #999999;
  float: right;
  margin: 0px;
  
}
.description{
  font-size: 0.823em;
  color: #999999; 
  margin: 0px;
  
}
.images {
  padding-right: 5.3%;
  padding-left: 2.6%;
  background-color: #ebebeb;
  border-left: 5px solid #dfdfdf;
}

.thumbnail {
  margin: 1%;
  float: left;
}

.thumbnail .date{
  float: none;
  text-align: center;
}
.thumbnail img{
  border: 3px solid #fff;
  box-shadow:  5px 5px rgba(178,178,178,0.8);
}
.thumbnail img:hover{
  border: 3px solid #00a74e;
}
@media screen and (max-width: 850px){
  /*todo entra ne accion cuando es menor a 850*/
  body{
    padding-left: 0;
    padding-top: 105px;
  }

  .menu{
    position: absolute;
    width: 100%;
    top: 0; right: 0; left: 0; bottom: auto;
    box-shadow: 2px 2px rgba(121,121,121,0.5);
  }
  .logo{
    height: 70px;
    width: 30%;
    float: left;
    margin: 0;
    padding: 10px 0 0 30px;
  }
  .search{
    height: 70px;
    width: 70%;
    margin: 0;
    padding: 15px 0 0 30px;
    float: right;
  }
  .searchBar {
    height: 45px;
    width: 80%;
 }

 .searchButton {
  height: 45px;
  width: 10%;
}
  .tab{
    float:left;
    width: 50%;
    height: 35px;
    padding: 5px 0 0 30px;
  }
  .links{
    width: 60%;
  }
  .images{
    width: 40%;
  }

}

@media screen and (max-width: 450px){
  body{
    font-size: 14px;
  }
  .tab{
    overflow: hidden;
    padding-top: 12px;
  }

  .logo{
    width: 50%;
  }

  .search{
    width: 50%;
  }

  .searchBar{
    width: 0;
    float: right;
  }
  .searchButton{
    width: 45px;
    float: right;
    text-align: center;
  }

  .links{
    width: 90%;
  }

  .images{
    width: 10%;
    overflow: hidden;
  }

}