* {
  box-sizing: border-box;
}
body {
  margin: 0px;
  font-family: 'Open sans', sans-serif;
  padding-left: 281px;
}
img {
  max-width: 100%;
  border: none;
}
img a {
  border: none;
}
ul,
li {
  list-style-type: none;
}
a {
  color: inherit;
  text-decoration: inherit;
}
a:visited {
  color: inherit;
  text-decoration: inherit;
}
a .tab {
 
  color: #00a74e;
}
a .current{
 
  color: #fff;
}
a:active .tab {
  background-color: #00a74e;
  color: #fff;
}


h3{
  font-size: 1.5em;
  color: #333;
}

input{
  outline: none;
}
.menu {
  width: 281px;
  background-color: #363636;
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  border-right: 5px solid #f2f2f2;
}
.logo {
  width: 100%;
  padding-top: 4.5%;
  padding-left: 12%;
  padding-right: 12%;
  padding-bottom: 3.5%;
  margin-top: 3.5%;
  margin-bottom: 3.5%;
}
.title{
  color: #fff;
  font-weight: bolder;
  font-size: 1.9em;
}
.cotitle{
  color: #00a74e;
  font-size: 1.9em;
  font-weight: bold;
}
.subtitle{
  color: #00a74e;
  font-variant: small-caps;
  font-weight: bold;
  font-size: 0.92em;
  line-height: 0px;
  margin: 0px;
  padding: 0px;

}
.search {
  width: 100%;
  height: 44.4px;
  padding-left: 12%;
  margin-top: 29.63px;
  margin-bottom: 36px;
}
.searchBar {
  width: 70%;
  background-color: #4a4a4a;
  border-radius: 1%;
  padding: 3%;
  font-size: 1em;
  color: #888;
  float: left;
  border: none;
 }

 .searchButton {
  width: 14.51%;
  background-color: #4a4a4a;
  border-radius: 1%;
  padding: 3%;
  font-size: 1em;
  text-align: right;
  color: #888;
  border: none;
}

.tab {
  width: 100%;
  padding-right: 7.74%;
  padding-top: 6%;
  padding-bottom: 6%;
  padding-left: 12%;
  font-weight: bold;
}

.current{
  background-color: #00a74e;
  color: #fff;
}
.main {
  overflow: hidden;
}
.day{
  overflow: hidden;
}
.dayHeader {
  background-color: #363636;
  text-align: center;
  color: #fff;
  line-height: 1.5em;
}
.navButton {
  overflow: hidden;
  background-color: #00a74e;
  color: #fff;
  width: 24px;
}
.prev {
  float: left;
}
.next {
  float: right;
}
.column {
  width: 50%;
  float: left;
}
.links {
  padding-right: 2.6%;
  padding-left: 2.6%;
  
}

.link{
  width: 100%;
  overflow: hidden;
  border-bottom: 1px solid #dfdfdf;
  padding-top: 3.5%;
  padding-bottom: 3.5%;
}

.link span {
  font-size: 1em;
  color: #00a74e;
  font-weight: bold;

}
.date {
  font-size: 0.823em;
  color: #999999;
  float: right;
  margin: 0px;
  
}
.description{
  font-size: 0.823em;
  color: #999999; 
  margin: 0px;
  
}
.images {
  padding-right: 5.3%;
  padding-left: 2.6%;
  background-color: #ebebeb;
  border-left: 5px solid #dfdfdf;
}

.thumbnail {
  margin: 1%;
  float: left;
}

.thumbnail .date{
  float: none;
  text-align: center;
}
.thumbnail img{
  border: 3px solid #fff;
  box-shadow:  5px 5px #dfdfdf;
}
.thumbnail img:hover{
  border: 3px solid #00a74e;
}